
 
 .main-title {
    position: center;
    margin: 0;
    padding: 5;
    color: #EEE5E9;
    text-align: center;
    top: 50%;
    left: 50%;

 }
 
 .demo .main-title {
    text-transform: uppercase;
    font-size: 3.2em;
    letter-spacing: 0.3em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }
 
 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }
 
 body {
    background: linear-gradient(-45deg, #472497, #FFA552, #6687ad, #b16bf3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.container {
    text-align: center;
}

.input100 {
  margin: 10px;
}
 



/* CSS */
#sign {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #534660;
  cursor: pointer;
  margin: 10px;
  font-family: Inter, sans-serif;
  font-size: 0.5em;
  justify-content: center;
 
  max-width: 50%;
  padding: 14px 22px;

  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
}

#sign:active,
#sign:hover {
  outline: 0;
}

#sign:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  #sign {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
  }
}

/*TEST CSS*/

.limiter{
  margin:auto;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1em;
  padding: 15px;
  width: 50%;
  display:flex;
}
.wrap-login100 {
  width: 50%;
  text-align: center;
 
}

#info {
  flex: 1;
  width: 50%;
 
  font-family: sans-serif;
  
}
h1 {
  text-transform: uppercase;
  font-size: 1.5em;
}
p {
  text-align:justify;
}


.wrap-input100 input {
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:80%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:rgb(72, 72, 72);
  border-radius: 3px;
}
.wrap-input100 input:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid #f9f2ff;	
 }
/*  ***************************** */

.grid {
  display: grid;
}
.block {
  display: inline-block;
}